.main-container {
    display: grid;
    grid-template-rows: 10% 1fr 0.5fr;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
        'header status'
        'camera servo-controls'
        "empty drive-controls";
    grid-gap: 10px;

    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

.main-header {
    grid-area: header;
}

.main-status {
    grid-area: status;

    text-align: right;
}

.camera-container {
    grid-area: camera;

    display: grid;
    grid-template-rows: 8fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "image"
        "button";
}
.camera-button {
    grid-area: button;

    width: 30%;
}
.camera-image {
    grid-area: image;
    max-width: 960px;
    max-height: 540px;
}

.drive-container {
    grid-area: drive-controls;
    
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "top-left forward top-right"
        "left back right";
}
.drive-forward {
    grid-area: forward;

    font-size: 16px;
}
.drive-back {
    grid-area: back;

    font-size: 16px;
}
.drive-left {
    grid-area: left;

    font-size: 16px;
}
.drive-right {
    grid-area: right;

    font-size: 16px;
}

.servo-container {
    grid-area: servo-controls;

    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "angle-selector look-up"
        "angle-selector look-down";
    grid-gap: 1%;

}
.look-up {
    grid-area: look-up;
    
    height: 30%;
    font-size: 16px;
    align-self: flex-end;
}
.look-down {
    grid-area: look-down;

    height: 30%;
    font-size: 16px;
    align-self: flex-start;
}

.angle-selector {
    grid-area: angle-selector;
    transform: rotate(90deg);

    appearance: none;
    border-radius: 10px;
    background: #d3d3d3;
    align-self: center;
}
